<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HttpPort" value="5002" />
    <add key="DataStorage" value="database" />
    <add key="RedisServerAddress" value="127.0.0.1" />
    <add key="SolrServerAddress" value="http://localhost:8983/solr" />
    <add key="Database" value="mysql" />
    <add key="ConnectionString" value="server=127.0.0.1;uid=root;pwd=passord1;database=healthkitserver;" />
<!--   <add key="ConnectionString" value= Server=127.0.0.1;Port=5432;Database=healthkitserver;User Id=postgres;
Password=passord1; />-->
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>