<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.MetaData" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Swagger" version="0.1.0-alpha3" targetFramework="net45" />
  <package id="Nancy.Swagger.Annotations" version="0.1.0-alpha3" targetFramework="net45" />
  <package id="SolrNet" version="0.3.1" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.371" targetFramework="net45" />
  <package id="Swagger.ObjectModel" version="0.1.0-alpha3" targetFramework="net45" />
</packages>